# Secrets and Environment Variables
.env
.env.local
.env.*
.replit

# Expo and React Native
.expo/
dist/
web-build/

# IDE and System files
.vscode/
.idea/
.DS_Store
Thumbs.db

expo-env.d.ts
# @end expo-cli
node_modules